/* /============ CSS Reset =============/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /============ CSS Reset End =============/ */

/* /============ Variables start =============/ */
:root{
    /* colors */
    --yellowBtn: hsl(39, 88%, 58%);
    --yellowShade: hsl(40, 72%, 39%);
    --mainBg: hsl(0, 0%, 13%);
    --boardBg: hsl(199, 33%, 15%);
    --greyBtn: hsl(200, 23%, 72%);
    --cyanBtn: hsl(178, 60%, 48%);
    --btnTextColor: hsl(199, 33%, 15%);
    --tileBg: hsl(200, 35%, 19%);
    --mainBoxShadowColor:rgb(16, 33, 40);
    --resetBoxShadowColor: hsl(200, 17%, 51%);

}
/* /============ Variables End =============/ */



/* /============ Generic styles =============/ */

h2{
    font-size: 1.5rem;
}


/* /========== Generic styles End ===========/ */
body{
    
    display: grid;
    place-items: center;
    background-color: var(--mainBg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.wrapper{
    max-width: 100%;
    min-height: 100vh;
    background: var(--boardBg);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.x,.o{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.activeTurn{
    display: flex;
    gap: 0.5rem;
    color: var(--greyBtn);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 0px 5px 0px 0px rgba(16,33,40,1);
    background-color:var(--tileBg);
    padding:0.8rem;
    border-radius: 0.5rem;
    width: 100px;
    margin-right: 20px;
}
.markOfTurn>*{
    width: 15px;
    height: 15px;
}
#resetSvg{
    width: 30px;
    height: 30px;
}
.reset{
    width: 50px;
    height: 50px;
    background-color: var(--greyBtn);
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px hsl(200, 17%, 51%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    overflow: hidden;
    padding-bottom: 10px;
    margin: 60px 0 10px 0;
}
.boardTile{

    width: 100px;
    height: 100px;
    border-radius: 1rem;
    background-color:var(--tileBg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 0px 0px rgba(16,33,40,1);

}
.youWin{
    background-color: var(--cyanBtn);
}
.tie{
    background-color: var(--greyBtn);
}
.AIwin{
    background-color: var(--yellowBtn);
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls>h2{
    font-size: 2rem;
}
.markSelection, .selectOpponent, .difficulty{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.btn:hover{
    background-color: rgba(99, 218, 14, 0.488);
}
.showResult{
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 250px;
    z-index: 10;
    background-color: var(--boardBg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.showResult p:first-child{
    text-transform: uppercase;
    color: var(--greyBtn);
}
.showResult p:nth-child(2){
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--cyanBtn);
    
    font-weight: 700;
    letter-spacing: 2px;
}
.hide{
    display: none;
    z-index: -10;
}
.resultBtns{
    display: flex;
    gap: 1rem;
}
#quit, #nextRound{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 1px;
}
#quit{
    background-color: var(--greyBtn);
    box-shadow: 0px 3px 0px 0px hsl(200, 17%, 51%);
    
}
#nextRound{
    background-color: var(--yellowBtn);
    box-shadow: 0px 3px 1px 0px var(--yellowShade);
   
}
.scoreBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    height: 50px;
    border-radius: 10px;
}
.num{
    font-size: 1.5rem;
    text-align: center;
}
.opponent{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.human, .ai{
    width: 60px;
    height: 60px;
    background-color: var(--tileBg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    cursor: pointer;
    box-shadow: 0px 10px 0px 0px rgba(16,33,40,1);
    transition-duration: 0.3s;
}
.human{
    background-color: var(--cyanBtn);
}
.human:hover{
    background-color: var(--boardBg);
}
.ai:hover{
    background-color: var(--boardBg);
}
.ai{
    background-color: var(--yellowBtn);
}
.human:active, .ai:active{
    transform: scale(0.9);
}
.humanIcon{
    transition-duration: 0.3s;
    
}
.humanIcon:hover{
    fill: var(--cyanBtn);
}
.AIicon{
    transition-duration: 0.3s; 
}
.AIicon:hover{
    fill: var(--yellowBtn);
}